.taskListItemContainer {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background: white;
  padding: 15px 25px;
  margin-bottom: 25px;
  border-radius: 50px;
  position: relative;
}

input.checkbox {
  padding: 20px;
  border-radius: 50px;
}

.taskListItemName {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.taskListItem {
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.taskListItem.completed {
  text-decoration: line-through;
  color: #e2e2e2;
}

.taskListItemDate {
  font-size: 11px;
  position: absolute;
  left: -105px;
  right: 5px;
  bottom: -13px;
  text-align: center;
  color: #cecece;
  font-weight: bold;
}

.loader {
  width: 50px;
  background: red;
}
